body{
    padding: 1rem;
}
button{
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 8px;
    padding: 0.5rem;
    outline: none;
    background: #737373;
    color: #fdfdfd;
    font-weight: bold;
    cursor: pointer;
}
.text-danger{
    color: rgb(247, 0, 0);
}
.mr-1{
    margin-left: 0.5rem;
    /* animation: movetext 2.2s ease-in-out infinite; */
    /* transition: all 1s ease-in-out; */
}
.d-none{
    display: none;
}
.d-flex{
    display: flex;
    align-items: center;
}
table{
    text-align: left;
}
table td, th{
    border: 1px solid;
    outline: none;
    border-radius: 5px;
    padding: 0.5rem;
}
section{
    gap: 1rem;
}
section .card{
    width: 410px;
}
.card img{
    height: 250px;
}

@keyframes movetext{
    0%{transform: scale(1);}
    100%{transform: scale(1.2);}
}